#welcome, #benchmark, #results, #feedback  {
    display: none;
}

.container {
    background-image: url(/assets/images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
}

header{
    width: 250px;
    height: 90px;
    margin-bottom: 45px;
    margin-left: 10%;
}

img {
    width: 60%;
    margin: 30px auto;
    
} 

section {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 1100px;
    height: 800px;
    margin-left: 10%;
    color: white;
    font-family: 'Inter';
    margin-right: 10%;
    padding-top: 10%;
}

.welcontent{
    margin-right: auto;
    margin-bottom: 20vh;
}

h1 {
    font-family: 'Outfit';
    font-size: 60px;
    margin-bottom: 40px;
}

h1 strong {
    display: block;
    font-family: 'Outfit';
    font-size: 60px;
    font-weight: bold;
}

h3 {
    font-family: 'Outfit';
    color: #D20094;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.psec1 {
    margin-bottom: 20px;

}

ul {
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

li {
    
    line-height: 1.5;
}

ul li strong {
    font-weight: bold;

}
/*
::before::marker {
    margin-right: 20px;
}
*/
form {
    width: 100%;
    margin: auto;
    font-weight: bold;
}

input[type="checkbox"]{
    cursor: pointer;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    border: 2px solid white; 
}

form label {
    align-items: left;
    cursor: pointer;
    padding-left: 15px;
}

form button {
    text-transform: uppercase;
    margin-left: 22vh;
    padding: 20px 55px;
    background: transparent;
    font-size: 1rem;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(32, 2, 38);
    font-weight: bold;
    font-style: bold;
    box-shadow: 0 0 5px #00FFFF, 0 0 20px #00FFFF;
}

form button:hover {
    transition: 1s;
    background: #00FFFF;
    box-shadow: 0 0 5px #00FFFF,
    0 0 25px #00FFFF, 0 0 50px #00FFFF;
}

/* CREARE BUTTON::after al click appare checkbox con tick di fontawesome*/

/* ----------------       FINE SECTION 1     ---------------------- */

#benchmark {
    display: none;
    padding-top: 3%;
}

input[type="radio"]{
    display: none;
} 

#timer {
    margin: 0 auto;
    display: fixed;
    text-align: end;
    font-size: 1rem;
}

svg {
    max-width: 100%;
    vertical-align: middle;
  }
  
  .svg-indicator {
    width: 100px;
    height: 100px;
  }
  
.svg-indicator-track, .svg-indicator-indication {
    cx: 50px;
    cy: 50px;
    r: 40px;
    fill: transparent;
    stroke-width: 10px;
  }
  
.svg-indicator-track {
    stroke: #ddd;
  }
  
.svg-indicator-indication {
    stroke: #00FFFF;
  }

fieldset {
    width: 100vh;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: center;
    gap: calc(100% / 4 - 0.5rem)
}

legend {
    font-family: 'Outfit';
    font-size: 60px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7%;
    padding-top: 5%;
    
    
}

form fieldset div {
    width: 300px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 3px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 50px;
    text-align: center;
    
}
form fieldset div:hover{
    background: rgb(210,0,148);
    background: linear-gradient(90deg, rgba(210,0,148,1) 35%, rgba(144,0,144,1) 100%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    cursor: pointer;
}

footer {
    font-family: 'Outfit';
    font-size: 1.3rem;
    display: flex;
    margin: 5% auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.slash{
    color: #D20094;
}

/* ------------------FINE SEZIONE 2---------------------------------*/

#results {
    display: none;
    padding-top: 5%;
    text-align: center;
}

h2 {
    font-family: 'Outfit';
    text-align: center;
    font-size: 60px;
    margin-bottom: 1%;
}

.pofh2 {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Outfit';
    margin-bottom: 3%;
}

.percentuali{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.percentuali > div{
    display: inline-block;
}

.centro{
    position: relative;
    width: 350px;
    height: 350px;
}

svg {
    max-width: 100%;
    vertical-align: middle;
}

.svg-indicator1 {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 0;
    left: 0;
}
  
.svg-indicator-track1, .svg-indicator-indication1 {
    cx: 175px;
    cy: 175px;
    r: 145px;
    fill: transparent;
    stroke-width: 30px;
}
  
.svg-indicator-track1 {
    stroke: #00FFFF;
}
  
.svg-indicator-indication1 {
    stroke: #D20094;
    width: 350px;
    height: 350px;
}

.testocentro {
    margin-top: 30%;
    margin-left: 20%;
    margin-right: 20%;
}

h5 {
    text-align: center;
    font-weight: bold;
    padding-bottom: 3%;
}

h6 {
    text-align: center;
    color: #00FFFF;
    font-weight: bold;
    padding-bottom: 10%;
}

.centro > p {
    text-align: center;
    
}

#wrong  {
    width: 350px;
    height: 350px;
    text-align: end;
}

#correct {
    width: 350px;
    height: 350px;
    text-align: start;
}


#wrong > h4, #correct > h4{
    font-family: 'Outfit';
    font-size: 60px;
    padding-bottom: 2%;
    padding-top: 30%;
    padding-left: 10%;
}

#wrong > h4{
    padding-right: 10%;
}

#wrong p:nth-child(2){
    font-family: 'Outfit';
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 2%;
    padding-right: 10%;
}

#correct p:nth-child(2){
    font-family: 'Outfit';
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 2%;
    padding-left: 10%;
}

#correct p:nth-child(3){
    padding-left: 10%;
    font-size: 1.3rem;
}

#wrong p:nth-child(3){
    padding-right: 10%;
    font-size: 1.3rem;
}

#results button {

    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 60px;
    background: transparent;
    font-size: 1.5rem;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: bold;
    box-shadow: 0 0 5px #00FFFF, 0 0 15px #00FFFF;
}

#results button:hover{
    transition: 1s;
    background: #00FFFF;
    box-shadow: 0 0 5px #00FFFF,
    0 0 10px #00FFFF, 0 0 20px #00FFFF;
}


/* -------------------- FINE SEZIONE 3 -------------------------------- */

#feedback{
    display: block;
    text-align: center;
    padding-left: 7%;
    padding-right: 7%;
}

#feedback p:nth-child(2){
    font-family: 'Outfit';
    font-size: 2rem;
    padding-bottom: 5%;
}

.stelle{
    margin-bottom: 8%;
    letter-spacing: 1rem;
}

/*
.stelle > label{
    cursor: pointer;
    
    
}

.stelle > label:hover svg{
    fill: #D20094;
}

.stelle input[type="radio"]{
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    appearance: none;
    
}

*/


/*----------------------------*/
#feedback p:nth-child(4){
    font-family: 'Outfit';
    font-size: 1.8rem;
    padding-bottom: 5%;
}

#feedback > h2{
    margin-bottom: 5%;
}

input[type="text"]{
    display: block;
    appearance: none;
    background-color: transparent;
    border: none;
    padding-bottom: 10px;
    color: #ddd;
    width: 100%;
}

.commento{
    border-bottom: 1px solid #D20094;
    margin-bottom: 5%;
    padding: 0 20px;
}

input:focus-visible{
    outline: none;
}

#feedback button {
    font-family: 'Outfit';
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 20px 55px;
    background: transparent;
    
    border: 3px solid transparent;
    color: rgb(32, 2, 38);
    font-weight: bold;
    font-style: bold;
    box-shadow: 0 0 5px #00FFFF, 0 0 20px #00FFFF;
}

#feedback button:hover {
    transition: 1s;
    background: #00FFFF;
    box-shadow: 0 0 5px #00FFFF,
    0 0 25px #00FFFF, 0 0 50px #00FFFF;
}